block main-footer
footer
	.container-fluid
		.row.yellow-line
		.row.justify-content-around.d-none.d-lg-block.list
			.col-lg-auto.text
				a(href='#') Home
				br
				a(href='#') About us
				br
				a(href='#') Why us
				br
				a(href='#') Guarantees
				br
				a(href='#') FAQ
			.col-lg-auto.text
				a(href='#') Buy dissertation
				br
				a(href='#') Prices
				br
				a(href='#') Testimonials
				br
				a(href='#') How it works
				br
				a(href='#') Contact us
			.col-lg-auto.text
				a(href='#') Dissertation
				br
				a(href='#') Dissertation abstract
				br
				a(href='#') Research proposal
				br
				a(href='#') Thesis
				br
				a(href='#') Thesis proposal
			.col-lg-auto.text
				a(href='#') Editing
				br
				a(href='#') Proofreading
				br
				a(href='#') Free Essays
				br
				a(href='#') APA Dissertation Editing and the Rules
				br
				a(href='#') Tips for Writing a Literature Review
			.col-lg-auto.text
				a(href='#') Complete the Research for a Dissertation
				br
				a(href='#') The Dissertation Template
				br
				a(href='#') How to Write a Dissertation Abstract
				br
				a(href='#') How to Write a Thesis Statement
				br
				a(href='#') How to Write Acknowledgements
		.row.footer-info
			.col-lg-6.justify-content-between.align-self-start
				.footer-info-logo
					.logo-footer
					.text-footer
						span @ 2009-2017. GreatDissertation.com. All rights reserved
						br
						span Custom dissertations writing service
			.col-lg-6.justify-content-between.d-none.d-lg-block
				.contact-info
					a(href='#') Live chat
					a(href='#') Terms and Conditions
					a(href='#') Privacy Policy
					a(href='#') Delivery Policy
					.contact-info-phone
						span Toll free:
						a(href='#') 1(888)901-7803
						span Call us:
						a(href='#') 1(646)963-6691
					.contact-info-text
						| The website is owned and operated by Global Soft Group Corp, BVI
		.row.footer-pay.d-none.d-sm-block
			.col-12
		.row.d-sm-none
			.col-md-12.align-center
				.social
					a(href='')
						i.fab.fa-twitter
					a(href='')
						i.fab.fa-facebook-f
					a(href='')
						i.fab.fa-pinterest-p
					a(href='')
						i.fab.fa-instagram
					a(href='')
						i.fab.fa-google-plus-g