<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>Great Dissertation FAQ</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000">
    <!-- Custom Browsers Color End -->

    <link rel="stylesheet" href="css/main.css">

</head>

<body>
<header>
    <div class="container-fluid">
        <div class="d-none d-sm-block row">
            <div class="col-xs-12">
                <div class="header-top">
                    <div class="block-left"></div>
                    <div class="block-right"></div>
                </div>
            </div>
        </div>
        <div class="row header-middle">
            <div class="col-8 col-md-4 d-lg-none align-self-center logo-header-small">
            </div>
            <div class="d-none d-lg-block col-lg-4 col-xl-3 align-self-end logo-header">
            </div>
            <div class="col-xl-3 align-self-center d-none d-xl-block">
                <h1><span>EXCLUSIVE</span>DISSERTATION WRITING SERVICE</h1>
            </div>
            <div class="d-none d-md-block col-md-6 col-lg-3 col-xl-3 align-self-start align-center">
                <div class="btn">
                    <a href="#">
                        <i class="far fa-comments">
                            <div class="circle"></div>
                        </i>
                        <div class="live-chat">
                            <span>LIVE CHAT</span><br>click here
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 col-xl-3 align-self-start align-center">
                <div class="btn">
                    <a href="#">
                        <i class="fas fa-phone-square"></i>
                        <div class="toll-free">
                            <span>Toll FREE</span><br>1(888)901-7803<br>1(646)963-6691
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2 col-lg-2 d-xl-none align-self-center align-right">
                <div class="dropdown">
                    <button class="hamburger hamburger--spin">
                        <span class="hamburger-box">
                            <span  class="hamburger-inner dropbtn"></span>
                        </span>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="./home">Home</a>
                        <a href="./err404">About Us</a>
                        <a href="./err404">Why Us</a>
                        <a href="./err404">Guarantees</a>
                        <a href="./FAQ">FAQ</a>
                        <a href="./beware">Beware</a>
                        <a href="./order">Order now</a>
                        <a href="./err404">Prices</a>
                        <a href="./err404">Testimonials</a>
                        <a href="./err404">How it works</a>
                        <a href="./err404">Discounts</a>
                        <a href="./contacts">Contact Us</a>
                        <a href="./blog">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grafic-border"></div>
        <div class="row header-bottom align-items-center">
            <div class="col-6 d-md-none align-self-center align-center">
                <div class="btn-mobile">
                    <a href="#">
                            LIVE CHAT
                    </a>
                </div>
            </div>
            <div class="col-6 d-md-none toll-free-mobile align-self-center align-center">
                <a href="tel:+1(888)901-7803">1(888)901-7803</a><br>
                <a href="tel:+1(646)963-6691">1(646)963-6691</a>
            </div>
            <div class="col-xl-12 header-menu d-none d-xl-block">
                <nav>
                    <ul>
                        <li><a href="./home">Home</a></li>
                        <li><a href="./err404">About Us</a></li>
                        <li><a href="./err404">Why Us</a></li>
                        <li><a href="./err404">Guarantees</a></li>
                        <li><a href="./FAQ">FAQ</a></li>
                        <li><a href="./beware">Beware</a></li>
                        <li><a href="./order">Order now</a></li>
                        <li><a href="./err404">Prices</a></li>
                        <li><a href="./err404">Testimonials</a></li>
                        <li><a href="./err404">How it works</a></li>
                        <li><a href="./err404">Discounts</a></li>
                        <li><a href="./contacts">Contact Us</a></li>
                        <li><a href="./blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="d-none d-lg-block col-lg-10 col-xl-8 offset-xl-2">
                <form action="login.html" method="post" name="form1" class="user-login-form">
                    <div class="row align-items-center">
                        <input type="hidden" name="action" value="authorization">
                        <div class="col-md-2 align-right no-padding">
                            <label>Registration</label>
                        </div>
                        <div class="col-md-3 no-padding">
                            <input type="text" name="e-mail" placeholder="Email">
                        </div>
                        <div class="col-md-3">
                            <input type="password" name="pass" value="FakePSW">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Login">
                        </div>
                        <div class="col-md-2 no-padding">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none d-lg-block col-lg-2 col-xl-2">
                <div class="order-now">
                    <a href="#">ORDER NOW</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="d-none d-xl-block col-xl-2 left-sidebar">
            <div class="row">
                <div class="col-md-12 margin-bottom">
                    <div class="menu-menu">
                        <header>Menu</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Why us</a></li>
                                    <li><a href="#">Guarantees</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Beware</a></li>
                                    <li><a href="#">Order now</a></li>
                                    <li><a href="#">Prices</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">How it works</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-dissertation">
                        <header>Dissertation</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <img src="../img/binder.png" alt="binder">
                                <ul>
                                    <li><a href="#">Dissertation</a></li>
                                    <li><a href="#">Thesis</a></li>
                                    <li><a href="#">Thesis proposal</a></li>
                                    <li><a href="#">Editing</a></li>
                                    <li><a href="#">Proofreading</a></li>
                                    <li><a href="#">Formatting</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-features">
                        <header>Features</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>The largest source data base</li>
                                    <li>Up-to-date sources</li>
                                    <li>Our writers have access to most university libraries</li>
                                    <li>Direct communication with a writer</li>
                                    <li><span>Customer support 24/7</span></li>
                                    <li>A wide range of services</li>
                                    <li>Only certified writers</li>
                                    <li>Only custom-written papers</li>
                                    <li>100% privacy guaranteed</li>
                                    <li><span>Free</span> plagiarism report</li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free outline</span></li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free title page</span></li>
                                    <li><span>Free title page</span> bibliography</li>
                                    <li><span>Free title page</span> formatting</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="customer-support">
                        <header>Customer support</header>
                        <div class="bg-image">
                            <div class="rectangle-1">
                                <div class="rectangle-2">
                                    <div class="got-any">
                                        <p>Got any doubts?</p>
                                        <p><span>Contact our</span></p>
                                    </div>
                                    <p>Customer Center<br>
                                        if you have any<br>
                                        questions</p>
                                    <div class="btn"><a href="#">Inquiry request</a></div>
                                    <div class="contact-phone">
                                        Toll free:<a href="tel:+1(888)901-7803">1(888)901-7803</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="live-chat"><a href="#"></a></div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="best-price">
                        <p>BEST PRICE</p>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom align-center">
                    <div class="authenticity">
                        <p>100%<span>Authenticity</span></p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-lg-9 col-xl-8 main-content">
            <div class="container-fluid">
                <section class="faq">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>FAQ</h1>
                        </div>
                    </div>
                    <div>
                        <div class="yellow-block"></div>
                    </div>
                    <div>
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div>
                        <div class="questions">
                            <a href="#q-1">1. What services does GreatDissertation.com provide?</a>
                            <a href="#q-2">2. How can GreatDissertation.com help me?</a>
                            <a href="#q-3">3. How does GreatDissertation.com protect my privacy?</a>
                            <a href="#q-4">4. What format does GreatDissertation.com normally use for the papers?</a>
                            <a href="#q-5">5. Can GreatDissertation.com write a paper on any topic?</a>
                            <a href="#q-6">6. Just how qualified are your writers?</a>
                            <a href="#">7. Can I contact my writer directly?</a>
                            <a href="#">8. What writing standards does GreatDissertation.com adhere to?</a>
                            <a href="#">9. How does GreatDissertation.com maintain its high academic standards?</a>
                            <a href="#">10. Can I send new, or additional, information to my writer?</a>
                            <a href="#">11. I'm concerned about plagiarized material appearing in my paper.</a>
                            <a href="#">12. Are your prices an indication of the quality of work that will go into my
                                paper?</a>
                            <a href="#">13. What payment methods does GreatDissertation.com accept?</a>
                            <a href="#">14. Can I submit work written by GreatDissertation.com directly to my
                                university?</a>
                            <a href="#">15. What makes GreatDissertation.com better than other online academic writing
                                services?</a>
                            <a href="#">16. How do I place my order with GreatDissertation.com?</a>
                        </div>
                    </div>
                </section>
                <section class="answers">
                    <div>
                        <h3>Dissertation requires a lot of hard work, time and energy</h3>
                        <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t
                            afford to take it lightly. Writing a dissertation is a challenging task and requires
                            specialized treatment and proper research.</p>
                        <p>Unless you plan to build a career in professional writing, your dissertation could be the
                            most difficult writing assignment you have ever had. Dissertation writing is the final stage
                            that a student has to pass before he or she will be recognized as an equal in their chosen
                            field. It evaluates many things, including a student's knowledge of a topic, their ability
                            to come up with thoughts and ideas on their own, and to present these thoughts and ideas to
                            their peers. Therefore, you should have no doubts in the quality of your dissertation when
                            presenting it for review to your dissertation committee.</p>
                        <h3 id="q-1">What services does GreatDissertation.com provide?</h3>
                        <p>GreatDissertation.com is dedicated to providing written course work and assigned papers
                            (especially essays, dissertations and theses) to students of all academic levels in all
                            fields of study.</p>
                        <p>GreatDissertation.com service includes researching, outlining, writing, editing, proofreading
                            and anti-plagiarism checking. In order to ensure that our customers always receive the best
                            written work possible GreatDissertation.com hires only the most reliable, academically
                            trained writers from the United States, the UK, Australia and Canada.</p>
                        <h3 id="q-2">How can GreatDissertation.com help me?</h3>
                        <p>GreatDissertation.com caters specifically to students studying for their Bachelors, Masters
                            or Doctoral degrees. Those who find that they do not have enough time to write assigned
                            papers and still keep up with their regular studies, job and other activities can make their
                            lives easier by availing professional writing assistance of our
                            company.GreatDissertation.com is here to help you produce a written paper, constructed to
                            the highest academic standards, which will be a guarantee that you will get the grades you
                            need to succeed. Throughout the writing process you will receive friendly one-on-one
                            assistance from our customer support team and the writer.</p>
                        <h3 id="q-3">How does GreatDissertation.com protect my privacy?</h3>
                        <p>GreatDissertation.com guarantees the highest level of personal identity security. We will
                            never divulge your identity to any third party for any reason. No one will ever know you
                            have come to GreatDissertation.com for write your paper unless you choose to tell it
                            yourself.</p>
                        <h3 id="q-4">What format does GreatDissertation.com normally use for the papers?</h3>
                        <p>All of our academic papers are prepared to a standardized format. We work to a standard A4
                            page format (although you may choose to change this to the North American standard). All of
                            our work is double-spaced allowing approximately 225 to 250 words per page. Our standard
                            type style is Courier New sized to a 12 point font (again, if you choose to change the font
                            face or type size you can easily do this after receiving your completed paper). All of our
                            pages are set with standard 1 inch margins.</p>
                        <h3 id="q-5">Can GreatDissertation.com write a paper on any topic?</h3>
                        <p>Absolutely. Nearly 500 members of our skilled, professional writing team have been university
                            trained in a vast variety of academic pursuits. Every one of our writers and researchers
                            specializes in a particular discipline, guaranteeing that the person assigned to write your
                            paper is fully and completely versed in your subject of enquiry. If you have particular
                            questions, please, contact us by telephone, email or live chat and we will answer your
                            questions in person. All of our contact information is located on our ‘Contact Us' page.</p>
                        <h3 id="q-6">Just how qualified are your writers?</h3>
                        <p>Since GreatDissertation.com specializes in writing advanced academic papers, any writer
                            applying for a position with GreatDissertation.com must hold an advanced degree in their
                            particular field of study and have years of writing experience. </p>
                        <ul>
                            <li>We accept any major credit card via the International Payment Option</li>
                            <li>Visa and MasterCard customers can make payment over the telephone through one of our
                                customer service representatives.
                            </li>
                            <li>We accept UK debit cards including Switch and Solo</li>
                            <li>We accept payments via PayPal</li>
                            <li>We also accept bank transfer payments</li>
                        </ul>
                        <h3 id="q-3">How does GreatDissertation.com protect my privacy?</h3>
                        <p>GreatDissertation.com guarantees the highest level of personal identity security. We will
                            never divulge your identity to any third party for any reason. No one will ever know you
                            have come to GreatDissertation.com for write your paper unless you choose to tell it
                            yourself.</p>
                    </div>
                    <div class="row justify-content-center padding-top-bottom">
                        <div class="col-8 col-sm-4 col-md-3 align-center">
                            <div class="btn-order"><a href="#">Order now!</a></div>
                        </div>
                        <div class="col-8 col-sm-4 col-md-3 align-center">
                            <div class="btn-live"><a href="#">Live chat</a></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>



        <div class="d-none d-lg-block col-lg-3 col-xl-2 right-sidebar">
            <div class="row bg-yellow"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="we-guarantee">
                        <header>We guarantee</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>100% Satisfaction</li>
                                    <li>100% Money Back Guarantee</li>
                                    <li>Free Revisions</li>
                                    <li>Delivery on deadline</li>
                                    <li>Strict adherence to any citation</li>
                                    <li>Specialized journals to ensure in</li>
                                    <li>Graduate writers in your special</li>
                                    <li>Up-to-date sources</li>
                                    <li>Professionalism in conducting deep</li>
                                    <li>Never resold to any customer</li>
                                    <li>Never redistributed or posted</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="discount">
                        <header>Discounts</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <p>We provide special discounts<br>
                                    <span>for returning clients:</span></p>
                                <div class="discount-list">
                                    <div class="number"><span>5%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            20 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>10%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            50 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>15%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            100 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="faq">
                        <header>FAQ</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">What type of service does GreatDissertation. com provide?</a></li>
                                    <li><a href="#">How can GreatDissertation. com help me?</a></li>
                                    <li><a href="#">How does GreatDissertation. com protect my privacy?s</a></li>
                                    <li><a href="#">What format does GreatDissertation. com normally use for the papers
                                        they write?</a></li>
                                    <li><a href="#">Can GreatDissertation. com write a paper on any topic?</a></li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="chat">
                        <header>Testimonials</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2 align-center">
                                <div class="chat-text">
                                    <p><a href="#">Myles Redding, Omaha, NE<i class="far fa-comment"></i></a></p>
                                    <p>My Zoology thesis had a short deadline shorter than I thought it had. I had
                                        miswritten the date on my calendar. When I realized this, I turned to ...</p>
                                    <div class="btn"><a href="#">Read more &raquo;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row yellow-line"></div>
        <div class="row justify-content-around d-none d-lg-block list">
            <div class="col-lg-auto text">
                <a href="#">Home</a><br>
                <a href="#">About us</a><br>
                <a href="#">Why us</a><br>
                <a href="#">Guarantees</a><br>
                <a href="#">FAQ</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Buy dissertation</a><br>
                <a href="#">Prices</a><br>
                <a href="#">Testimonials</a><br>
                <a href="#">How it works</a><br>
                <a href="#">Contact us</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Dissertation</a><br>
                <a href="#">Dissertation abstract</a><br>
                <a href="#">Research proposal</a><br>
                <a href="#">Thesis</a><br>
                <a href="#">Thesis proposal</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Editing</a><br>
                <a href="#">Proofreading</a><br>
                <a href="#">Free Essays</a><br>
                <a href="#">APA Dissertation Editing and the Rules</a><br>
                <a href="#">Tips for Writing a Literature Review</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Complete the Research for a Dissertation</a><br>
                <a href="#">The Dissertation Template</a><br>
                <a href="#">How to Write a Dissertation Abstract</a><br>
                <a href="#">How to Write a Thesis Statement</a><br>
                <a href="#">How to Write Acknowledgements</a>
            </div>
        </div>
        <div class="row footer-info">
            <div class="col-lg-6 justify-content-between align-self-start">
                <div class="footer-info-logo">
                    <div class="logo-footer"></div>
                    <div class="text-footer">
                    <span>@ 2009-2017. GreatDissertation.com. All rights reserved</span><br>
                    <span>Custom dissertations writing service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 justify-content-between d-none d-lg-block">
                <div class="contact-info">
                    <a href="#">Live chat</a>
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Delivery Policy</a>
                    <div class="contact-info-phone">
                        <span>Toll free:</span><a href="#">1(888)901-7803</a>
                        <span>Call us:</span><a href="#">1(646)963-6691</a>
                    </div>
                    <div class="contact-info-text">
                        The website is owned and operated by Global Soft Group Corp, BVI
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-pay d-none d-sm-block">
            <div class="col-12"></div>
        </div>
        <div class="row d-sm-none">
            <div class="col-md-12 align-center">
                <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="js/common.js"></script>

</body>
</html>