<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>Great Dissertation Contacts</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000">
    <!-- Custom Browsers Color End -->

    <link rel="stylesheet" href="css/main.css">

</head>

<body>
<header>
    <div class="container-fluid">
        <div class="d-none d-sm-block row">
            <div class="col-xs-12">
                <div class="header-top">
                    <div class="block-left"></div>
                    <div class="block-right"></div>
                </div>
            </div>
        </div>
        <div class="row header-middle">
            <div class="col-8 col-md-4 d-lg-none align-self-center logo-header-small">
            </div>
            <div class="d-none d-lg-block col-lg-4 col-xl-3 align-self-end logo-header">
            </div>
            <div class="col-xl-3 align-self-center d-none d-xl-block">
                <h1><span>EXCLUSIVE</span>DISSERTATION WRITING SERVICE</h1>
            </div>
            <div class="d-none d-md-block col-md-6 col-lg-3 col-xl-3 align-self-start align-center">
                <div class="btn">
                    <a href="#">
                        <i class="far fa-comments">
                            <div class="circle"></div>
                        </i>
                        <div class="live-chat">
                            <span>LIVE CHAT</span><br>click here
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 col-xl-3 align-self-start align-center">
                <div class="btn">
                    <a href="#">
                        <i class="fas fa-phone-square"></i>
                        <div class="toll-free">
                            <span>Toll FREE</span><br>1(888)901-7803<br>1(646)963-6691
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2 col-lg-2 d-xl-none align-self-center align-right">
                <div class="dropdown">
                    <button class="hamburger hamburger--spin">
                        <span class="hamburger-box">
                            <span  class="hamburger-inner dropbtn"></span>
                        </span>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="./home">Home</a>
                        <a href="./err404">About Us</a>
                        <a href="./err404">Why Us</a>
                        <a href="./err404">Guarantees</a>
                        <a href="./FAQ">FAQ</a>
                        <a href="./beware">Beware</a>
                        <a href="./order">Order now</a>
                        <a href="./err404">Prices</a>
                        <a href="./err404">Testimonials</a>
                        <a href="./err404">How it works</a>
                        <a href="./err404">Discounts</a>
                        <a href="./contacts">Contact Us</a>
                        <a href="./blog">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grafic-border"></div>
        <div class="row header-bottom align-items-center">
            <div class="col-6 d-md-none align-self-center align-center">
                <div class="btn-mobile">
                    <a href="#">
                            LIVE CHAT
                    </a>
                </div>
            </div>
            <div class="col-6 d-md-none toll-free-mobile align-self-center align-center">
                <a href="tel:+1(888)901-7803">1(888)901-7803</a><br>
                <a href="tel:+1(646)963-6691">1(646)963-6691</a>
            </div>
            <div class="col-xl-12 header-menu d-none d-xl-block">
                <nav>
                    <ul>
                        <li><a href="./home">Home</a></li>
                        <li><a href="./err404">About Us</a></li>
                        <li><a href="./err404">Why Us</a></li>
                        <li><a href="./err404">Guarantees</a></li>
                        <li><a href="./FAQ">FAQ</a></li>
                        <li><a href="./beware">Beware</a></li>
                        <li><a href="./order">Order now</a></li>
                        <li><a href="./err404">Prices</a></li>
                        <li><a href="./err404">Testimonials</a></li>
                        <li><a href="./err404">How it works</a></li>
                        <li><a href="./err404">Discounts</a></li>
                        <li><a href="./contacts">Contact Us</a></li>
                        <li><a href="./blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="d-none d-lg-block col-lg-10 col-xl-8 offset-xl-2">
                <form action="login.html" method="post" name="form1" class="user-login-form">
                    <div class="row align-items-center">
                        <input type="hidden" name="action" value="authorization">
                        <div class="col-md-2 align-right no-padding">
                            <label>Registration</label>
                        </div>
                        <div class="col-md-3 no-padding">
                            <input type="text" name="e-mail" placeholder="Email">
                        </div>
                        <div class="col-md-3">
                            <input type="password" name="pass" value="FakePSW">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Login">
                        </div>
                        <div class="col-md-2 no-padding">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none d-lg-block col-lg-2 col-xl-2">
                <div class="order-now">
                    <a href="#">ORDER NOW</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="d-none d-xl-block col-xl-2 left-sidebar">
            <div class="row">
                <div class="col-md-12 margin-bottom">
                    <div class="menu-menu">
                        <header>Menu</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Why us</a></li>
                                    <li><a href="#">Guarantees</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Beware</a></li>
                                    <li><a href="#">Order now</a></li>
                                    <li><a href="#">Prices</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">How it works</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-dissertation">
                        <header>Dissertation</header>
                        <nav class="rectangle-1">
                            <div class="rectangle-2">
                                <img src="../img/binder.png" alt="binder">
                                <ul>
                                    <li><a href="#">Dissertation</a></li>
                                    <li><a href="#">Thesis</a></li>
                                    <li><a href="#">Thesis proposal</a></li>
                                    <li><a href="#">Editing</a></li>
                                    <li><a href="#">Proofreading</a></li>
                                    <li><a href="#">Formatting</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="menu-features">
                        <header>Features</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>The largest source data base</li>
                                    <li>Up-to-date sources</li>
                                    <li>Our writers have access to most university libraries</li>
                                    <li>Direct communication with a writer</li>
                                    <li><span>Customer support 24/7</span></li>
                                    <li>A wide range of services</li>
                                    <li>Only certified writers</li>
                                    <li>Only custom-written papers</li>
                                    <li>100% privacy guaranteed</li>
                                    <li><span>Free</span> plagiarism report</li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free outline</span></li>
                                    <li><span>Free amendments</span></li>
                                    <li><span>Free title page</span></li>
                                    <li><span>Free title page</span> bibliography</li>
                                    <li><span>Free title page</span> formatting</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="customer-support">
                        <header>Customer support</header>
                        <div class="bg-image">
                            <div class="rectangle-1">
                                <div class="rectangle-2">
                                    <div class="got-any">
                                        <p>Got any doubts?</p>
                                        <p><span>Contact our</span></p>
                                    </div>
                                    <p>Customer Center<br>
                                        if you have any<br>
                                        questions</p>
                                    <div class="btn"><a href="#">Inquiry request</a></div>
                                    <div class="contact-phone">
                                        Toll free:<a href="tel:+1(888)901-7803">1(888)901-7803</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="live-chat"><a href="#"></a></div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom">
                    <div class="best-price">
                        <p>BEST PRICE</p>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom align-center">
                    <div class="authenticity">
                        <p>100%<span>Authenticity</span></p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-lg-9 col-xl-8 main-content order-now">
            <div class="container-fluid">
                <section class="buy-dissertation align-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Buy Dissertation</h1>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="header-text">
                            <p>
                                <span>Place a new order now!</span>
                            </p>
                            <p>
                                It takes just a few minutes
                            </p>
                        </div>
                    </div>
                    <div class="row steps no-gutters">
                        <div class="col-md-3">
                            <div class="step">
                                <div class="step-number">
                                    1
                                </div>
                                <div class="step-text">
                                    <p>
                                        Submit your<br>
                                        paper details
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="step">
                                <div class="step-number">
                                    2
                                </div>
                                <div class="step-text">
                                    <p>
                                        Pay for the<br>
                                        order
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="step">
                                <div class="step-number">
                                    3
                                </div>
                                <div class="step-text">
                                    <p>
                                        Download your<br>
                                        custom written paper
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="step">
                                <div class="step-number">
                                    4
                                </div>
                                <div class="step-text">
                                    <p>
                                        <span>START NOW!</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row prices no-gutters">
                        <i class="far fa-comment-dots"></i>
                        <div class="prices-text">
                            <p>
                                Our prices start from <span>$12.99</span>. All papers are written from stratch according
                                your instructions by professional writers. You will get high quality plagiarism free paper
                                delivered to your email on time.
                            </p>
                        </div>
                    </div>
                </section>

                    <div class="row justify-content-center padding-top-bottom">
                        <div class="col-8 col-sm-4 col-md-3 align-center">
                            <div class="btn-order"><a href="#">Order now!</a></div>
                        </div>
                        <div class="col-8 col-sm-4 col-md-3 align-center">
                            <div class="btn-live"><a href="#">Live chat</a></div>
                        </div>
                    </div>
            </div>
        </div>



        <div class="d-none d-lg-block col-lg-3 col-xl-2 right-sidebar">
            <div class="row bg-yellow"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="we-guarantee">
                        <header>We guarantee</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li>100% Satisfaction</li>
                                    <li>100% Money Back Guarantee</li>
                                    <li>Free Revisions</li>
                                    <li>Delivery on deadline</li>
                                    <li>Strict adherence to any citation</li>
                                    <li>Specialized journals to ensure in</li>
                                    <li>Graduate writers in your special</li>
                                    <li>Up-to-date sources</li>
                                    <li>Professionalism in conducting deep</li>
                                    <li>Never resold to any customer</li>
                                    <li>Never redistributed or posted</li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="discount">
                        <header>Discounts</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <p>We provide special discounts<br>
                                    <span>for returning clients:</span></p>
                                <div class="discount-list">
                                    <div class="number"><span>5%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            20 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>10%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            50 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-list">
                                    <div class="number"><span>15%</span></div>
                                    <div class="text">
                                        <div class="text-1">
                                            <span>discount</span>
                                        </div>
                                        <div class="text-2">
                                            <span>for more than</span>
                                        </div>
                                        <div class="text-3">
                                            100 <span>pages</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="faq">
                        <header>FAQ</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2">
                                <ul>
                                    <li><a href="#">What type of service does GreatDissertation. com provide?</a></li>
                                    <li><a href="#">How can GreatDissertation. com help me?</a></li>
                                    <li><a href="#">How does GreatDissertation. com protect my privacy?s</a></li>
                                    <li><a href="#">What format does GreatDissertation. com normally use for the papers
                                        they write?</a></li>
                                    <li><a href="#">Can GreatDissertation. com write a paper on any topic?</a></li>
                                </ul>
                                <div class="btn"><a href="#">Read more &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-left">
                    <div class="chat">
                        <header>Testimonials</header>
                        <div class="rectangle-1">
                            <div class="rectangle-2 align-center">
                                <div class="chat-text">
                                    <p><a href="#">Myles Redding, Omaha, NE<i class="far fa-comment"></i></a></p>
                                    <p>My Zoology thesis had a short deadline shorter than I thought it had. I had
                                        miswritten the date on my calendar. When I realized this, I turned to ...</p>
                                    <div class="btn"><a href="#">Read more &raquo;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row yellow-line"></div>
        <div class="row justify-content-around d-none d-lg-block list">
            <div class="col-lg-auto text">
                <a href="#">Home</a><br>
                <a href="#">About us</a><br>
                <a href="#">Why us</a><br>
                <a href="#">Guarantees</a><br>
                <a href="#">FAQ</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Buy dissertation</a><br>
                <a href="#">Prices</a><br>
                <a href="#">Testimonials</a><br>
                <a href="#">How it works</a><br>
                <a href="#">Contact us</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Dissertation</a><br>
                <a href="#">Dissertation abstract</a><br>
                <a href="#">Research proposal</a><br>
                <a href="#">Thesis</a><br>
                <a href="#">Thesis proposal</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Editing</a><br>
                <a href="#">Proofreading</a><br>
                <a href="#">Free Essays</a><br>
                <a href="#">APA Dissertation Editing and the Rules</a><br>
                <a href="#">Tips for Writing a Literature Review</a>
            </div>
            <div class="col-lg-auto text">
                <a href="#">Complete the Research for a Dissertation</a><br>
                <a href="#">The Dissertation Template</a><br>
                <a href="#">How to Write a Dissertation Abstract</a><br>
                <a href="#">How to Write a Thesis Statement</a><br>
                <a href="#">How to Write Acknowledgements</a>
            </div>
        </div>
        <div class="row footer-info">
            <div class="col-lg-6 justify-content-between align-self-start">
                <div class="footer-info-logo">
                    <div class="logo-footer"></div>
                    <div class="text-footer">
                    <span>@ 2009-2017. GreatDissertation.com. All rights reserved</span><br>
                    <span>Custom dissertations writing service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 justify-content-between d-none d-lg-block">
                <div class="contact-info">
                    <a href="#">Live chat</a>
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Delivery Policy</a>
                    <div class="contact-info-phone">
                        <span>Toll free:</span><a href="#">1(888)901-7803</a>
                        <span>Call us:</span><a href="#">1(646)963-6691</a>
                    </div>
                    <div class="contact-info-text">
                        The website is owned and operated by Global Soft Group Corp, BVI
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-pay d-none d-sm-block">
            <div class="col-12"></div>
        </div>
        <div class="row d-sm-none">
            <div class="col-md-12 align-center">
                <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="js/common.js"></script>

</body>
</html>