body {
    min-height: 1080px;
    background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(167,207,223) 0%, rgb(35,83,138) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(167,207,223) 0%,rgb(35,83,138) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(167,207,223) 0%,rgb(35,83,138) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: wheat;
}
h2, h4 {
    text-align: center;
}
.ip {
    padding: 10px;
}
span {
    margin: 0 5px;
}
input {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.biteDog, .scratchCat {
    width: 5%;
    height: 16px;
    margin-top: 5px; 
}

#movies {
    max-width: 300px;
    text-align: center;
}

#writeDog, #removeDog, #showDog, #writeCat, #removeCat, #showCat, #showCat {
    width: 30%;
    background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgb(125,126,125) 27%, rgb(14,14,14) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(125,126,125) 27%,rgb(14,14,14) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(125,126,125) 27%,rgb(14,14,14) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    color: white;
    text-align: center;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 3px;
    margin: 10px 20px;
}
.align-center {
    text-align: center;
}