nav li{
  padding-top: 5px;
  a {
    color: rgb(70, 138, 187);
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  } 
}

.content {
  font: 20px sans-serif;
  color: rgb(18, 65, 99);
  padding: 20px 0 20px 10px;
  p {
    text-indent: 1.5em;
    text-align: justify;
  } 
}