nav {
    background-color: #002b80;
    opacity: 0.5;
}

nav a {
    margin: 5px 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
}

nav a:hover {
    color: yellow;
    text-decoration: none;
}
