.d-none.d-xl-block.col-xl-2.left-sidebar
  .row
    .col-md-12.margin-bottom
      .menu-menu
        header Menu
        nav.rectangle-1
          .rectangle-2
            ul
              li
                a(href='#') Home
              li
                a(href='#') About us
              li
                a(href='#') Why us
              li
                a(href='#') Guarantees
              li
                a(href='#') FAQ
              li
                a(href='#') Beware
              li
                a(href='#') Order now
              li
                a(href='#') Prices
              li
                a(href='#') Testimonials
              li
                a(href='#') How it works
              li
                a(href='#') Contact us
    .col-md-12.margin-bottom
      .menu-dissertation
        header Dissertation
        nav.rectangle-1
          .rectangle-2
            img(src='../images/binder.png', alt='binder')
            ul
              li
                a(href='#') Dissertation
              li
                a(href='#') Thesis
              li
                a(href='#') Thesis proposal
              li
                a(href='#') Editing
              li
                a(href='#') Proofreading
              li
                a(href='#') Formatting
    .col-md-12.margin-bottom
      .menu-features
        header Features
        .rectangle-1
          .rectangle-2
            ul
              li The largest source data base
              li Up-to-date sources
              li Our writers have access to most university libraries
              li Direct communication with a writer
              li
                span Customer support 24/7
              li A wide range of services
              li Only certified writers
              li Only custom-written papers
              li 100% privacy guaranteed
              li
                span Free
                |  plagiarism report
              li
                span Free amendments
              li
                span Free outline
              li
                span Free amendments
              li
                span Free title page
              li
                span Free title page
                |  bibliography
              li
                span Free title page
                |  formatting
            .btn
              a(href='#') Read more »
    .col-md-12.margin-bottom
      .customer-support
        header Customer support
        .bg-image
          .rectangle-1
            .rectangle-2
              .got-any
                p Got any doubts?
                p
                  span Contact our
              p
                | Customer Center
                br
                |                                         if you have any
                br
                |                                         questions
              .btn
                a(href='#') Inquiry request
              .contact-phone
                | Toll free:
                a(href='tel:+1(888)901-7803') 1(888)901-7803
        .live-chat
          a(href='#')
    .col-md-12.margin-bottom
      .best-price
        p BEST PRICE
    .col-md-12.margin-bottom.align-center
      .authenticity
        p
          | 100%
          span Authenticity