.d-none.d-lg-block.col-lg-3.col-xl-2.right-sidebar
  .row.bg-yellow
  .row
    .col-md-12
      .social
        a(href='')
          i.fab.fa-twitter
        a(href='')
          i.fab.fa-facebook-f
        a(href='')
          i.fab.fa-pinterest-p
        a(href='')
          i.fab.fa-instagram
        a(href='')
          i.fab.fa-google-plus-g
  .row
    .col-md-12.no-padding-left
      .we-guarantee
        header We guarantee
        .rectangle-1
          .rectangle-2
            ul
              li 100% Satisfaction
              li 100% Money Back Guarantee
              li Free Revisions
              li Delivery on deadline
              li Strict adherence to any citation
              li Specialized journals to ensure in
              li Graduate writers in your special
              li Up-to-date sources
              li Professionalism in conducting deep
              li Never resold to any customer
              li Never redistributed or posted
            .btn
              a(href='#') Read more »
  .row
    .col-md-12.no-padding-left
      .discount
        header Discounts
        .rectangle-1
          .rectangle-2
            p
              | We provide special discounts
              br
              span for returning clients:
            .discount-list
              .number
                span 5%
              .text
                .text-1
                  span discount
                .text-2
                  span for more than
                .text-3
                  | 20 
                  span pages
            .discount-list
              .number
                span 10%
              .text
                .text-1
                  span discount
                .text-2
                  span for more than
                .text-3
                  | 50 
                  span pages
            .discount-list
              .number
                span 15%
              .text
                .text-1
                  span discount
                .text-2
                  span for more than
                .text-3
                  | 100 
                  span pages
  .row
    .col-md-12.no-padding-left
      .faq
        header FAQ
        .rectangle-1
          .rectangle-2
            ul
              li
                a(href='#') What type of service does GreatDissertation. com provide?
              li
                a(href='#') How can GreatDissertation. com help me?
              li
                a(href='#') How does GreatDissertation. com protect my privacy?s
              li
                a(href='#')
                  | What format does GreatDissertation. com normally use for the papers
                  | they write?
              li
                a(href='#') Can GreatDissertation. com write a paper on any topic?
            .btn
              a(href='#') Read more »
  .row
    .col-md-12.no-padding-left
      .chat
        header Testimonials
        .rectangle-1
          .rectangle-2.align-center
            .chat-text
              p
                a(href='#')
                  | Myles Redding, Omaha, NE
                  i.far.fa-comment
              p
                | My Zoology thesis had a short deadline shorter than I thought it had. I had
                | miswritten the date on my calendar. When I realized this, I turned to ...
              .btn
                a(href='#') Read more »