header
    .container-fluid
        .d-none.d-sm-block.row
            .col-xs-12
                .header-top
                    .block-left
                    .block-right
        .row.header-middle
            .col-8.col-md-4.d-lg-none.align-self-center.logo-header-small
            .d-none.d-lg-block.col-lg-4.col-xl-3.align-self-end.logo-header
            .col-xl-3.align-self-center.d-none.d-xl-block
                h1
                    span EXCLUSIVE
                    | DISSERTATION WRITING SERVICE
            .d-none.d-md-block.col-md-6.col-lg-3.col-xl-3.align-self-start.align-center
                .btn
                    a(href='#')
                        i.far.fa-comments
                            .circle
                        .live-chat
                            span LIVE CHAT
                            br
                            | click here
            .d-none.d-lg-block.col-lg-3.col-xl-3.align-self-start.align-center
                .btn
                    a(href='#')
                        i.fas.fa-phone-square
                        .toll-free
                            span Toll FREE
                            br
                            | 1(888)901-7803
                            br
                            | 1(646)963-6691
            .col-4.col-md-2.col-lg-2.d-xl-none.align-self-center.align-right
                .dropdown
                    button.hamburger.hamburger--spin
                        span.hamburger-box
                            span.hamburger-inner.dropbtn
                    #myDropdown.dropdown-content
                        a(href='./home/') Home
                        a(href='./err404') About Us
                        a(href='./err404') Why Us
                        a(href='./err404') Guarantees
                        a(href='./FAQ') FAQ
                        a(href='./beware') Beware
                        a(href='./order') Order now
                        a(href='./err404') Prices
                        a(href='./err404') Testimonials
                        a(href='./err404') How it works
                        a(href='./err404') Discounts
                        a(href='./contacts') Contact Us
                        a(href='./blog') Blog
        .row.grafic-border
        .row.header-bottom.align-items-center
            .col-6.d-md-none.align-self-center.align-center
                .btn-mobile
                    a(href='#')
                        | LIVE CHAT
            .col-6.d-md-none.toll-free-mobile.align-self-center.align-center
                a(href='tel:+1(888)901-7803') 1(888)901-7803
                br
                a(href='tel:+1(646)963-6691') 1(646)963-6691
            .col-xl-12.header-menu.d-none.d-xl-block
                nav
                    ul
                        li
                            a(href='./users/home/') Home
                        li
                            a(href='./users/err404/') About Us
                        li
                            a(href='./users/err404/') Why Us
                        li
                            a(href='./users/err404/') Guarantees
                        li
                            a(href='./users/FAQ/') FAQ
                        li
                            a(href='./users/beware/') Beware
                        li
                            a(href='./users/order/') Order now
                        li
                            a(href='./users/err404/') Prices
                        li
                            a(href='./users/err404/') Testimonials
                        li
                            a(href='./users/err404/') How it works
                        li
                            a(href='./users/err404/') Discounts
                        li
                            a(href='./users/contacts/') Contact Us
                        li
                            a(href='./users/blog/') Blog
            .d-none.d-lg-block.col-lg-10.col-xl-8.offset-xl-2
                form.user-login-form(action='login.html', method='post', name='form1')
                    .row.align-items-center
                        input(type='hidden', name='action', value='authorization')
                        .col-md-2.align-right.no-padding
                            label Registration
                        .col-md-3.no-padding
                            input(type='text', name='e-mail', placeholder='Email')
                        .col-md-3
                            input(type='password', name='pass', value='FakePSW')
                        .col-md-2
                            input(type='submit', value='Login')
                        .col-md-2.no-padding
                            a(href='#') Forgot your password?
            .d-none.d-lg-block.col-lg-2.col-xl-2
                .order-now
                    a(href='#') ORDER NOW
