<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="/search" method="GET">
                <input type="text" placeholder="Enter film" name="title"/>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="row poster">
            <h3>{{Title}}</h3>
            <img src={{Poster}} alt={{Title}} />
            <ul>
                <li><span>Type: </span>{{Type}}</li>
                <li><span>Released: </span>{{Released}}</li>
                <li><span>imdbRating: </span>{{imdbRating}}</li>
                <li><span>Genre: </span>{{Genre}}</li>
                <li><span>Actors: </span>{{Actors}}</li>
                <li class="Plot">{{Plot}}</li>
            </ul>
        </div>
    </div>

    <script src="../public/common.js"></script>
</body>

</html>