.BookItem {
    background-color: rebeccapurple;
    color: white;
    p {
        font-size: 16px;
        padding: 10px 15px;
    }
    h2 {
        padding: 20px 30px;
        color: yellow;
    }
}